.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.songs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.songCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 200px;
    width: 200px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;

}

.songCard:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.songCard--title {
    width: 80%;
}

.songCard--title > h2 {
    text-overflow: ellipsis "...";
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.songCard--context {
    position: absolute;
    margin-top: -6px;
    margin-left: 145px;
}

.songCard--creator > p{
    display: inline;
}

.search {
    display: flex;
    justify-content: center;
    width: 600px;
}