nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(108, 184, 127);
    height: 60px;
    padding-inline: 15%;
}

.nav--right {
    display: flex;
    align-items: center;
}

.nav--link {
    text-align: center;
    line-height: 60px;
    /* padding-top: 20px; */
    background-color: transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 130px;
    height: 60px;
}

.nav--link:hover {
    color: #fff;
    background-color: rgb(87, 150, 103);
}


.nav--button {
    background-color: transparent;
}

.nav--logo {
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    line-height:25px;
    text-align:center;
    font-size: 25px;
    background-color: rgb(202, 56, 80);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

}

.nav--item {
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    display: inline;
}
.nav--item > p{
    cursor: pointer;
    color: white;
    padding-left: 10px;
    display: inline;
}

.nav--item:hover {
    transform: translateY(-2px);
}


@media (max-width: 45em) {
    nav {
        padding-right: 0;
    }
}