.measure[data-beats="4"] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  border-inline: solid;
  margin: 10px;
}

.chordinput {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 6em;
}

.chordinput:hover {
  background-color: #dafffc;
  border: none;
}

.song--measures {
  display: grid;
  margin: 100px;
  grid-template-columns: repeat(4, 1fr);
}

.song--title {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 6em;
}